/* .wrapper {
    background-color: var(--black-bg);
} */


.card {
    /* border: 1px solid #000; */
    padding: 20px;
    width: 1000px;
    max-width: 100%;
    margin: 40px;
    font-family: 'Alkatra', cursive;
}

.card-title {
    font-size: 1.5em;
    color: var(--secondary-color);
    text-align: center;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.tab-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab {
    width: 75px;
}

.tab-group h4 {
    margin-left: 15px;
}

.number-1 {
    width: 50px;
    color: var(--primary-color);
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    border-color: rgb(0,0,0,0.1);
}

.header h5 {
    margin-left: 15px;
    font-size: 2em;
    font-weight: lighter;
    color: rgb(0,0,0,0.7);
}

.input-box {
    width: 30%;
    display: flex;
}

.form-title {
    font-size: 1.1em;
    color: rgb(0,0,0,0.6);
}

.designer-box {
    width: 100%;
    display: flex;
    gap: 10px;
}

.desginer-group {
    display: flex;
    font-size: 13px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.5s ease;
}

.disabled {
    cursor: default !important;
    filter: saturate(30%);
}

.disabled:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.cardDoctor:hover,
.cardDoctor.active,
.desginer-group.active, .desginer-group:hover {
    box-shadow: 0 5px 16px 0 rgba(58, 42, 9, 0.65);
}

.desginer-group .text {
    margin-left: 10px;
}

.general-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 27px;
}

.col-3 {
    width: 33.33%;
}

.cardDoctor {
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.5s ease;
}

.cardDoctor .card-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cardDoctor .card-header img {
    border-radius: 10px;
}

.cardDoctor .card-body {

}

.cardDoctor .card-body .desc{
    margin: 10px 0;
    font-size: 0.8em;
    font-weight: 100;
    color: rgb(0,0,0,0.6);
}

.cardDoctor .card-body .w-desc {
    font-size: 15px;
}
.cardDoctor .card-body .w-desc span {
    color: var(--primary-color);
    font-weight: bold;
}

.cardDoctor .card-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(0,0,0,0.1);
    margin-top: 5px;
    padding-top: 10px;
    font-size: 0.8em;
    color: var(--secondary-color);
}

.star-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.star-container img {
    color: red;
}



/* Coose a  Date & Time */
.dateTimeWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 30px;
}

.dateTimeWrapper .date {
    align-self: baseline;
}

.dateTimeWrapper .rules {
    margin-top: 40px;
    color: rgb(0,0,0,0.6);
    font-size: 0.8em;
}
.dateTimeWrapper .scheduled {
    margin-top: 40px;
    color: rgb(0,0,0,0.6);
    font-size: 0.8em;
}

.react-datepicker__input-container input {
    width: 75%;
    text-align: center;
    padding: 15px 20px;
    border-radius: 20px;
    border: 1px solid rgb(0,0,0,0.3);
    cursor: pointer;
}




/* Calendar */

.react-datepicker-popper {
    position: relative !important;
    transform: translate(0px, 0px) !important;
}



/* PATIENT FORM */

.patient-content {
    display: flex;
    gap: 100px;
}

.patient-content .left-content {
    width: 70%;
}
.patient-content .right-content {
    width: 30%;
}

.form-input-group {
    display: flex;
    align-items: center;
    gap: 20px;
}



.calendar-box {
    border: transparent;

}

.calendar-box .calendar-header {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calendar-box .calendar-body {
    padding: 5px 10px;
    text-align: center;
    border: 1px solid;
}

.col-6 {
    width: 50%;
}

[class*="col-"] {

}

@media only screen and (max-width: 769px) {
.card-title {
    font-size: 1em;
}

.tabs {
    flex-wrap: wrap;
}

.tab {
    width: 50px;
}

.number-1 {
    width: 35px;
}

.header h5 {
    font-size: 1.5em;
}

.form-title {
    font-size: 0.9em;
}

.designer-box {
    overflow-y: auto;
    flex-wrap: wrap;
}

.general-content {
    flex-wrap: wrap;
}

.general-content .col-3 {
    width: 100%;
}

.col-3 {
    width: 45%;
}

.dateTimeWrapper {
    flex-wrap: wrap;
}

.col-6 {
    width: 100%;
}

.button.secondary, .button.primary {
    width: 100px !important;
}

.patient-content {
    flex-wrap: wrap;
    gap: 10px;
}

.patient-content .right-content {
    width: 60%;
}


}

@media only screen and (max-width: 480px) {
    .card-title {
        font-size: 0.6em;
    }

    .tabs {
        padding: 0 20px;
    }

    .tab {
        width: 30px;
    }

    .tab-group h4 {
        font-size: 0.7em;
    }

    .number-1 {
        width: 20px;
    }

    .general-content {
        flex-wrap: wrap;
    }

    .form-title {
        font-size: 0.7em;
    }
    
    .input-box {
        width: 100%;
        font-size: 0.7em;
    }
    .input-box input {
        margin-top: 5px;
    }

    .col-3 {
        width: 100%;
    }

    .patient-content .right-content {
        width: 100%;
    }

    .form-input-group {
        flex-wrap: wrap;
    }
}